<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .reset {
    text-decoration: none;
    background-color: lightcoral;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    margin: 15px 0;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, então clique no link abaixo para escolhe uma nova senha:</p>
  <p><a class="reset" href="{{link}}">Resetar minha senha</a></p>
  <p>Caso não tenha solicitado troca de email, ignore!</p>
  <p>
    Obrigado!<br />
    <strong>Equipe Getsh</strong>
  </p>
</div>
